/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fffef8;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  font-family: "Work Sans";
  font-size: 14px;
}
.editBar {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  height: 3rem;
  gap: 1rem;
}
.fa-pen-to-square {
  width: 0.97375rem;
  height: 0.97375rem;
  flex-shrink: 0;
}
.editBar p {
  font-size: 1rem;
}
.buttonChanges {
  border-radius: 20px;
  padding: 0.5rem 1.3rem;
  font-weight: 600;
  cursor: pointer;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 10%;
}
main {
  max-width: 1140px;
  margin: auto;
}
section {
  margin: 50px 0;
}
p {
  font-size: 18px;
}
h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}
h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  font-weight: 500;
  margin-top: 0.5rem;
}
h2, #portfolio li {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 2.5rem;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
nav li:hover {
  font-weight: 900;
  color: black;
  cursor: pointer;
}
.headerLogo {
  width: 1.375rem;
}
a {
  display: flex;
  text-decoration: none;
  color: black;
  width: fit-content;
}
#introduction {
  display: flex;
  align-items: center;
  gap: 4.5rem;
  margin: 8.69rem 0 0;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 100%;
  margin-bottom: 1rem;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 1.2em;
}
.ButtonModifier {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}
#projectsTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4em;
  margin-top: 8.69rem;
}
#portfolio ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 3.5rem;
}
#portfolio li:hover, #portfolio li.active, .buttonSubmit.active {
  color: white;
  background-color: #1d6154;
  cursor: pointer;
}
#portfolio li {
  border: 1px solid;
  padding: 0.56rem 1.1rem;
  border-radius: 25px;
  font-size: 18px;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
  padding-bottom: 0.5rem;
  height: 95%;
}
#contact, #login {
  width: 50%;
  margin: auto;
}
#contact, #login > * {
  text-align: center;
}
#contact h2, #login h2 {
  margin-bottom: 20px;
}
#contact form, #login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact form {
  margin-left: 4rem;
  margin-right: 4rem;
}
#contact input, #login input, #modalAdmin input, #modalAdd input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-bottom: 0.94rem;
}
#contact label, #login label {
  margin: 2em 0 1em 0;
  font-size: 15px;
  font-weight: 600;
}
#login {
  padding: 10rem 0;
}
#login p {
  display: flex;
  justify-content: center;
}
#login a {
  color: #1d6154;
  font-weight: 700;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem;
  background-color: white;
}
footer nav li {
  margin-right: 4rem;
}
#loginFooter {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modalGallery, .modalAdd {
  overflow: auto;
  width: 630px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vw - 20px);
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#modalForm {
  display: flex;
  flex-direction: column;
}
#modalForm label {
  margin-bottom: 0.63rem;
}
#modalAdd form {
  display: flex;
  flex-direction: column;
}
.modalAddIcons {
  display: flex;
}
.modalAdd .fa-arrow-left {
  display: flex;
  color: black;
  position: relative;
  left: -17.5rem;
  top: 1.2rem;
  font-size: x-large;
  cursor: pointer;
}
.modalGallery .fa-xmark, .modalAdd .fa-xmark {
  display: flex;
  color: black;
  position: relative;
  right: -17.5rem;
  top: 1.2rem;
  font-size: x-large;
  cursor: pointer;
}
#confirmationMessage {
  display: none;
  color: #1d6154;
  text-align: center;
  padding: 10px;
  position: relative;
  top: 76%;
  left: 24%;
}
.modalGallery .fa-xmark {
  right: -18.15rem;
}
#modalAdminTitle, #modalAddTitle {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 26px;
  margin-top: 1.8rem;
}
#modalCards, #modalForm {
  display: flex;
  flex-wrap: wrap;
  gap: 0.78rem;
  margin: 2.8rem 4.7rem;
  align-items: flex-start;
}
.modalCard {
  position: relative;
  width: calc(20% - 10px);
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 1rem;
  overflow: hidden;
}
.modalCard img {
  max-width: 100%;
  height: auto;
  border: 1px solid lightgray;
}
.modalCard p {
  font-size: 0.75rem;
  text-align: initial;
}
.modalCard .fa-trash-alt {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  color: white;
  font-size: 0.7rem;
  cursor: pointer;
  background-color: black;
  padding: 0.25rem;
  border-radius: 2px;
}
.modalLine {
  width: 30rem;
  border-bottom: 1px solid #b3b3b3;
 /* margin-bottom: 1rem;
  */
}
.modalGallery .button, .buttonSend, .buttonLogin {
  background-color: #1d6154;
}
.button, .buttonSend, .buttonLogin, .buttonSubmit {
  display: flex;
  justify-content: center;
  width: 14.8rem;
  cursor: pointer;
  font-family: "Syne";
  color: white;
  margin: 2em auto;
  border-radius: 60px;
}
#forgotPassword {
  text-decoration: underline;
  margin-top: 1.5rem;
}
.buttonSubmit {
  background-color: #a7a7a7;
  width: 16.8rem;
}
.modalAdd .modalLine {
  margin-top: 1.5rem;
}
#modalDelete {
  color: red;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
#cardAddphoto {
  background-color: #e8f1f6;
  border-radius: 4px;
  margin: 0 auto 2rem;
  width: 100%;
  height: 11.5rem;
}
#cardAddphoto .fa-image {
  display: flex;
  color: #cbd6dc;
  position: relative;
  top: 1.2rem;
  font-size: 4.75rem;
  justify-content: center;
}
#cardAddphoto .button {
  color: #306685;
  background-color: #cbd6dc;
  font-family: Work Sans;
  width: 38%;
  height: 2.25rem;
  align-items: center;
  margin-bottom: 1rem;
}
#cardAddphoto p {
  text-align: center;
  font-size: 0.625rem;
  position: relative;
  bottom: 0.4rem;
  margin-bottom: 1rem;
}
#imagePreviewContainer {
  overflow: hidden;
  max-height: 100%;
  justify-content: center;
}
#imagePreview {
  max-width: 100%;
  max-height: 12rem;
  display: none;
}
.hidden {
  display: none;
}
